# This is the claude code file for hooks.
hook_output.txt

# Python folders and structures.
__pycache__

# Environment variable files. any file that starts with `.` and ends with `env`
.*env

# ignore all the data files
**/data

# ignore all the vscode configurations as well.
.vscode

# ai resources
.claude/*
# symlink points to ../.claude, so that we can work in worktrees
!.claude/claude_link 
/agents/
/prompts/


