# This is the claude code file for hooks.
hook_output.txt

# Python folders and structures.
__pycache__

# Environment variable files. any file that starts with `.` and ends with `env`
.*env

# ignore all the data files
**/data

# ignore all the vscode configurations as well.
.vscode

# I do not want to share the stupid documentation of the ai
/ai_documentation/
.claude/
/agents/
/prompts/