# This is the claude code file for hooks.
hook_output.txt

# Python folders and structures.
__pycache__

# Environment variable files. any file that starts with `.` and ends with `env`
.*env
# Allow example env file to be committed
!.env.example
!env.example

# ignore all the data files
**/data

# ignore all the vscode configurations as well.
.vscode

# ai resources
/agents/
/prompts/
# include the ai working space, but nothing in it.
ai-working/*


